---
import Layout from '../layouts/Layout.astro';
import { useTranslations } from "../i18n/utils";
import { type Locale } from "../i18n/config";

const locale = (Astro.currentLocale || "vi") as Locale;
const t = useTranslations(locale);
---

<Layout title={t("therapies.title")}>
    <div class="page-container">
        <h1 class="heading-section">{t("therapies.page_title")}</h1>
        <p class="body-regular">
            {t("therapies.desc")}
        </p>
    </div>
</Layout>

<style>
    .page-container {
        padding-top: 150px;
        text-align: center;
        min-height: 60vh;
    }
</style>
